##############################
## Java
##############################
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Compiled class file
*.class
# Package Files #
*.jar
*.war
*.ear
*.nar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
##############################
## Gradle
##############################
bin/
# Ignore Gradle build output directory
build
build/
# Ignore Gradle project-specific cache directory
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
##############################
## OS X
##############################
.DS_Store